<h1>Yelp API Challenge</h1>

<label>Price Point</label>
<select [(ngModel)]="searchInfo.pricePoint">
  <option value=1>$</option>
  <option value=2>$$</option>
  <option value=3>$$$</option>
  <option value=4>$$$$</option>
</select>

<label>State</label>
<select [(ngModel)]="searchInfo.state" (click)="getCities()">
  <option *ngFor="let state of states" value="{{state}}" (click)="getCities()">{{state}}</option>
</select>

<label>City</label>
<select [(ngModel)]="searchInfo.city">
  <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
</select>

<button (click)="submitSearch()">Find a restaurant</button>


<br>

<div *ngIf = "selectedBusiness">
  <img src="{{selectedBusiness.image_url}}">
  <h1>{{selectedBusiness.name}}</h1>
  <h3>Phone: {{selectedBusiness.phone }}</h3>
  <h3>Address: {{selectedBusiness.location.address1}}</h3>
  <h3>Transactions: {{selectedBusiness.transactions}}</h3>
  
</div>